<div class="row">
    <div class="col-2">
        <ul>
            <li *ngFor="let city of cityList">
                {{city}}
            </li>
        </ul>
    </div>
    <div class="col-5">
        <button *ngFor="let city of cityList" class="btn btn-success mx-1">
            {{city}}
        </button>
    </div>
</div>
<div class="row">
   <div class="col-3">
      <table class="table table-bordered">
         <thead>
            <tr>
                <th>S.NO</th>
                <th>EMP ID</th>
                <th>NAME</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let emp of employArray; let sNo = index">
                <td>{{sNo+1}}</td>
                <td>{{emp.empId }}</td>
                <td>{{emp.name}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>