<div class="row">
    @for(item of usersList(); track $index){
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{item.fullName}} - {{item.userId}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{item.emailId}}</h6>
                <p class="card-text">{{item.projectName}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    }
</div>