<div class="row">
    <div class="col-3 p-3" [ngClass]="divBgColor">
    div 1
    </div>
    <div class="col-3 p-3" [ngClass]="isChecked?'bg-success':'bg-danger'">
        div 2
    </div>
    <div class="col-3 p-3" [ngClass]="typedClass">
        div3
    </div>
    <div [class]="divBgColor">
        div4
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="changeBgColor('bg-success')">add Success</button>
        <button class="btn btn-danger" (click)="changeBgColor('bg-danger')">add Danger</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked"/>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="typedClass">
    </div>
</div>